body{
    background-color: #dbdbd3;
    font-family: lato;
}
#boolzapp{

    margin: 50px 200px;
    height: calc(100vh - 100px);
    display: flex;
    border: 1px solid lightgray;
}
img{
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contacts-chats li{
    border-top: 1px solid lightgray;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
}
.contacts-chats li>div{
    display: flex;
    align-items: center;
}
#contacts-section{
    width: 40%;
    height: 100%;
}
    #contacts-section > header {
    
        height: 10%;
        background-color: #eaeaea;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        border-right: 1px solid lightgray;
    }
        .my-name{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 20px;
        }
        .icon-header *{
            margin: 0 8px;
            color: #b1b1b1;
            font-size: 24px;
        }
    #contacts-section > main{
        height: 90%;
        background-color: #fff;
    }
        .notification{
            background-color: #8edafc;
            display: flex;
            align-items: center;
            padding: 0 25px;
            height: 10%;
        }
            .notification > i{
                border-radius: 50%;
                background-color: #fff;
                height: 50px;
                width: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
                color: #8edafc;
            }
            .notification-text{
                margin-left: 20px;
            }
            .notification p{
                margin: 0;
                font-size: 18px;
            }
            .notification a{
                color: #585858;
                font-size: 14px;
            }
        .search-bar{
            background-color: #fafafa;
            height: 7%;
            padding: 0 10px;
            width: 100%;
        }
            .search-bar  > form *{
                height: 35px;
                border-color: transparent;
                margin-top: 6px;
            }
            .search-bar button{
                width: 70px;
                background-color: #fff;
                color: gray;
                font-size: 18px;
            }
            .search-bar input{
                width: calc(100% - 100px);
            }
        .contacts-chats{
            overflow-y: scroll;
        }
            .contacts-chats p{
                margin: 0 10px;
                font-size: 18px;
            }
            .contacts-chats p:last-of-type{
                font-size: 14px;
                color: #929292;

            }
#chat{
    width: 60%;
    height: 100%;
}
    #chat > header{
    height: 10%;
    border-left: 1px solid lightgray;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    }
        #chat .info-current-chat div p{
            margin: 0 15px;
        }
        #chat .info-current-chat{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .icon-header{
            align-content: end;
        }
        .info-contact-chat{
            display: flex;
            align-items: center;
        }
    #chat > main{
        height: 80%;
        background-image: url(../img/mine.png);
    }
        #chat main ul li{
            display: flex;
            flex-direction: column;
        }
        #chat main li>div{
            border-radius: 10px;
            width: 35%;
            padding: 5px 10px;
            margin: 30px 20px 0 20px;
        }
        
        #chat ul li div>p{
            margin: 0;
        }
        #chat div>p:last-child{
            font-size: 10px;
            text-align: end;
        }
        .sent{
            background-color: #d5f9bb;
            align-self: flex-end;
        }
        .received{
            background-color: #fff;
        }
    #chat > footer{
    
        height: 10%;
        background-color: #f3eeea;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;
    }
        #chat footer input{
            width: 85%;
            height: 40px;
            border-color: transparent;
            border-radius: 5px;
        }
        #chat footer i{
            font-size: 24px;
            color: gray;
        }
