<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <div id="boolzapp">
            
            <div id="contacts-section">
                <header>
                    <div class="my-name">
                        <img src="img/avatar_io.png" alt="io">
                        <p>Sofia</p>
                    </div>
                    <div class="icon-header">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <main>
                    <div class="notification">
                        <i class="fa-solid fa-bell-slash"></i>
                        <div class="notification-text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="search-bar">
                        <form>
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" v-model="searchName" placeholder="Cerca o inizia una nuova chat">
                        </form>
                    </div>
                    <div class="contacts-chats">
                        <ul v-for="contact in contacts">
                            <li v-if="contact.name.toLowerCase().includes(this.searchName.toLowerCase())" @click="selectContact(contact)">
                                <div>
                                    <img :src="contact.avatar" :alt="contact.name">
                                    <div>
                                        <p>{{ contact.name }}</p>
                                        <!-- TODO da cambiare i lmessaggio con l'effettivo messaggio inviato-->
                                        <p>Ultimo messaggio inviato</p>
                                    </div>    
                                </div>
                                
                                <p>12:00</p>
                                
                            </li>
                        </ul>
                    </div>
                </main>
            </div>
            <div id="chat">
                <header>
                    <div v-if="activeContact" class="info-current-chat">
                        <div class="info-contact-chat">
                        <img :src="activeContact.avatar" :alt="activeContact.name">
                        <div>
                            <p>{{ activeContact.name }}</p>
                            <!-- TODO da cambiare il messaggio con l'effettivo ultimo accesso -->
                            <p>Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>
                        <div class="icon-header">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    
                </header>
                <main>
                    <div v-if="activeContact">
                        <ul>
                            <li v-for="message in activeContact.messages">
                                <div :class="{'sent': message.status === 'sent', 'received': message.status === 'received'}">
                                    <p>{{ message.message }}</p> 
                                    <p>{{ message.date }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>    
                </main>
                <footer>
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scivi un messaggio" v-model="newMessage" @keyup.enter= sendMessage(messages)>
                    <i class="fa-solid fa-microphone"></i>
                </footer>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>